{
  //"parser":"Babel-ESLint",
  "globals": {},
  "env": {
    // I write for browser
    "browser": false,
    // in CommonJS
    "node": true,
    "es6": true,
  },
  // To give you an idea how to override rule options:
  "rules": {
    // Tons of rules you can use, for example...
    "quotes": [1, "single"]
  }
}
